<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8"/>
<title>Tax Manager</title>
<link rel="stylesheet" type= "text/css" href="css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
	<header>
		<div class="navbar navbar-default">
			<ul class="nav navbar-nav">
			  	<li><a th:href="@{/companies}">Companies</a></li>
				<li><a th:href="@{/taxes}">Taxes</a></li>
				<li><a th:href="@{/addCompany}">Add Company</a></li>
			</ul>
			<ul >
				<!-- <li><a th:href="@{/login?logout}" th:text="${#httpServletRequest.remoteUser}"></a></li> -->
				<div class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
					<li><a th:href="@{/login}">Sign in</a></li>
				</div>
				<div class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
					<li><a th:href="@{/logout}">Logout (<span sec:authentication="principal.username"/>)</a></li>
				</div>
			</ul>
		</div>
	</header>
	<section layout:fragment="content"></section>
	<footer>
		<nav class="navbar-fixed-bottom">
			<small>@10707 West Interstate 10 San Antonio, TX, 78230</small>
		</nav>
	</footer>
</body>
</html>